<!doctype html>
<head>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DownDDHelper</title>


    <link rel='stylesheet' id='bootstrap-css-css' href='/static/css/bootstrap5152.css?ver=1.0' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='responsive-css-css' href='/static/css/responsive5152.css?ver=1.0' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='pretty-photo-css-css' href='/static/js/prettyphoto/prettyPhotoaeb9.css'
          type='text/css'
          media='all'/>
    <link rel='stylesheet' id='main-css-css' href='/static/css/main5152.css?ver=1.0' type='text/css' media='all'/>
    {% if skin == 'red' %}
        <link rel='stylesheet' id='red-skin-css' href='/static/css/red-skin5152.css?ver=1.0' type='text/css'
              media='all'/>
    {% elif skin == 'green' %}
        <link rel='stylesheet' id='green-skin-css' href='/static/css/green-skin5152.css?ver=1.0' type='text/css'
              media='all'/>
    {% elif skin == 'blue' %}
        <link rel='stylesheet' id='blue-skin-css' href='/static/css/blue-skin5152.css?ver=1.0' type='text/css'
              media='all'/>
    {% endif %}


</head>

<body>

<!-- Start of Header -->
<div class="header-wrapper">
    <header>
        <div class="container">
            <div class="logo-container">
                <!-- Website Logo -->
                <a href="index.html" title="DownDDHelper">

                </a>
            </div>

            <nav class="main-nav">
                <div class="menu-top-menu-container">
                    <ul id="menu-top-menu" class="clearfix">

                        <li><a href="#">Skins</a>
                            <ul class="sub-menu">
                                <li><a href="/change_skin?skin=blue">Blue Skin</a></li>
                                <li><a href="/change_skin?skin=green">Green Skin</a></li>
                                <li><a href="/change_skin?skin=red">Red Skin</a></li>
                                <li><a href="/change_skin?skin=default">Default Skin</a></li>
                            </ul>
                        </li>


                    </ul>
                </div>
            </nav>

        </div>
    </header>
</div>
<!-- End of Header -->

<!-- Start of Search Wrapper -->
<div class="search-area-wrapper" style="height: 1200px">
    <div class="search-area container" style="height: 1200px">
        <h3 class="search-header">视频下载器</h3>
        <div style="display: flex; justify-content: center;">
            <div style="font-family: verdana; padding: 3px; border-radius: 2px; border: 2px solid #E6E6FA; width: 82%;">
                <h3 style="margin-left: 8%">当前支持

                    <a href="https://www.youtube.com/" style="margin-left: 8%"><img alt="YouTube"
                                                                                    src="static/images/youtube.png"
                                                                                    width="100" height="60"></a>
                    <a href="https://www.bilibili.com/" style="margin-left: 8%"><img alt="bilibili"
                                                                                     src="static/images/bilibili.png"
                                                                                     width="100" height="60"></a>
                    <a href="https://tv.sohu.com" style="margin-left: 8%"><img slt="搜狐视频"
                                                                               src="static/images/sohutv.png"
                                                                               width="100"
                                                                               height="60"></a>
                    <a href="https://www.tiktok.com/" style="margin-left: 8%">
                        <img alt="TikTok" src="static/images/tiktok.png" width="100" height="60">
                    </a>

                </h3>
            </div>
        </div>


        <form id="search-form" class="search-form clearfix" method="post" autocomplete="off">
            {% csrf_token %}
            <input class="search-term required" type="text" id="s" name="video_url" placeholder="输入视频链接" autocomplete="on"
                   title="* Please enter a search term!"/>
            <input class="search-btn" type="submit" value="下载"/>
            <div id="search-error-container"></div>
        </form>
        <div style="text-align: center">
            <h4>
                如无法下载，推荐使用Chrome浏览器、Edge浏览器、Firefox浏览器下载。
                如无法播放，推荐使用<a href="http://potplayer.io/?lang=zh_CN" style="color: blue">PotPlayer</a>播放视频。</h4>
        </div>
        <div style="text-align: center">
            {% if download_message %}
                <h3>{{ download_message }}</h3>
            {% endif %}
            <div>
                {% if messages %}
                    {% for message in messages %}
                        <h4 style="color:red">{{ message }}</h4>

                    {% endfor %}
                {% endif %}

            </div>
            {% if output_filename %}
                <a href="/download?file_name={{ output_filename }}"></a>
                <script>
                    window.location.href = "/download?file_name={{ output_filename }}";
                </script>
            {% endif %}


        </div>


    </div>

</div>
<a href="#top" id="scroll-top"></a>


<script type='text/javascript' src='/static/js/jquery-1.8.3.min.js'></script>


<script type='text/javascript' src='/static/js/custom.js'></script>

</body>
