<!DOCTYPE html>
<html>
<head>
    <title>视频下载器</title>
</head>
<body>
    <h1>输入视频链接下载</h1>
    <h6>当前支持<a href="https://www.youtube.com/"><img alt="YouTube" src="static/images/youtube.png" width="100" height="60"></a><a href="https://www.bilibili.com/"><img alt="bilibili" src="static/images/bilibili.png"  width="100" height="60"></a><a href="https://tv.sohu.com"><img slt="搜狐视频" src="static/images/sohutv.png" width="100" height="60"></a></h6>       {% csrf_token %}
    <form method="post">
        {% csrf_token %}
        <input type="text" name="video_url" placeholder="输入视频链接">
        <button type="submit">下载视频</button>
    </form>
    <p>{{ download_message }}</p>
</body>
</html>
